{% extends 'base.html' %}

{% block head %}
    <title>
        Csomagolás
    </title>
{% endblock %}

{% block body %}
    <h1 class="header", id="header">Csomagolás</h1>
    <div class="submit_package">
        <form action="/", method="post">
            {% if session.current_work_state == 1 %}
                <input type="text", placeholder="Csomagszám", autofocus, name="package_no", id="submit_package_no", autofocus>
                <input type="submit", value="Rögzít", id="insert_package_submit">
            {% else %}
                <input type="text", placeholder="Csomagszám", autofocus, name="package_no", id="submit_package_no", disabled>
                <input type="submit", value="Rögzít", id="insert_package_submit", disabled>
            {% endif %}
            <input type="number", placeholder="Felhasználó", name="user_code", value="{{ session.usercode }}", id="submit_user_code">
            <button type="button", id="submit_change_user" onclick="goUsers()">Felhasználó váltás</button>
        </form>
    </div>
    {% if work_states %}
    <div class="work_state">
        {% for key, value in work_states.items() %}
            {% if key == session.current_work_state %}
                <button class="work_state_button", style="background-color: lightgreen;", disabled>
                    {{ value }}
                </button>
            {% else %}
                <button class="work_state_button", onclick="changeWorkState({{key}})">
                    {{ value }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if packages %}
        <table class="package_table">
            <tr class="package_table_tr_th">
                <th class="package_table_th", id="package_table_th_id">ID</th>
                <th class="package_table_th", id="package_table_th_no">Csomagszám</th>
                <th class="package_table_th", id="package_table_th_crus">Felhasználó</th>
                <th class="package_table_th", id="package_table_th_crdti">Időpont</th>
                <th class="package_table_th", id="package_table_th_status">Státusz</th>
            </tr>
            {% for package in packages %}
                {% if package.crus == session.usercode %}
                    <tr class="package_table_tr">
                        <td class="package_table_td", id="package_table_td_id">{{ package.id }}</td>
                        {% if not package.is_state %}
                            <td class="package_table_td", id="package_table_td_no">{{ package.get_package_no() }}</td>
                        {% else %}
                            <td class="package_table_td", id="package_table_td_state"><strong>{{ package.get_package_no() }}</strong></td>
                        {% endif %}
                        <td class="package_table_td", id="package_table_dt_crus">{{ package.get_username() }}</td>
                        <td class="package_table_td", id="package_table_td_crdti">{{ package.crdti }}</td>
                        <td class="package_table_td", id="package_table_td_status">{{ package.get_o8_state() }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
    <p>Mai csomagok száma: {{ count }} | csomagjaid: {{ count_user }}</p>
{% endblock %}

{% block footer %}
    <p>folyamat azonosító: {{ session.session_id }}</p>
{% endblock %}