{% extends 'base.html' %}

{% block head %}
    <title>
        {{ invoice.invoice_no }}
    </title>
{% endblock %}

{% block body %}
    <h2 style="text-align: center;">RAKLAPKÍSÉRŐ JEGYZŐKÖNYV</h2>
    <h1 style="text-align: center;">{{ invoice.invoice_no }}</h1>
    <hr>
    <div class="header_grid">
        <div class="header_item">
            <p>
                <b>Feladó:</b>
                <br>
                {% if invoice.vf_cegnev %}
                    {{ partner.partnernev }}
                    <br>
                    {{ partner.cim }}
                {% else %}
                    Orink Hungary Kft.
                    <br>
                    1151 Budapest, Károlyi sándor út 160.
                {% endif %}
            </p>
        </div>
        <div class="header_item">
            <p>
                <b>Címzett:</b>
                <br>
                {% if invoice.vf_cegnev %}
                    {{ invoice.vf_cegnev }}
                {% else %}
                    {{ partner.partnernev }}
                {% endif %}
                <br>
                {{ invoice.irsz }} {{ invoice.varos }}, {{ invoice.utca }}
            </p>
        </div>
    </div>
    <hr>
    <div class="pallet_list">
        <table class="pallet_table">
            <tr class="pallet_th">
                <th class="pallet_th", id="pallet_type">Raklap</th>
                <th class="pallet_th", id="pallet_qt">Mennyiség</th>
            </tr>
            {% if invoice.eur_pallet > 0 %}
                <tr class="pallet_tr">
                    <td class="pallet_td">EU</td>
                    <td class="pallet_td">{{ invoice.eur_pallet }}</td>
                </tr>
            {% endif %}
            {% if invoice.ow_pallet > 0 %}
                <tr class="pallet_tr">
                    <td class="pallet_td">Egyutas</td>
                    <td class="pallet_td">{{ invoice.ow_pallet }}</td>
                </tr>
            {% endif %}
            {% if invoice.half_ow > 0 %}
                <tr class="pallet_tr">
                    <td class="pallet_td">Fél egyutas</td>
                    <td class="pallet_td">{{ invoice.half_ow }}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="re_pallet">
        {% if invoice.eur_pallet > 0 or invoice.ow_pallet > 0 %}
            <br>
            <h3>
                Visszaforgatva:
            </h3>
            {% if invoice.eur_pallet > 0 %}
                <p>
                    EU: _____
                </p>
            {% endif %}
            {% if invoice.ow_pallet > 0 %}
                <p>
                    Egyutas: _____
                </p>
            {% endif %}
            {% if invoice.half_ow > 0 %}
                <p>
                    Fél egyutas: _____
                </p>
            {% endif %}
        {% endif %}
    </div>
    <div class="sign_box">
        <hr class="sign_line">
        <p class="sign_line">Átvevő</p>
    </div>
{% endblock %}