/* Body */
body, html {
    margin: 0;
    font-family: sans-serif;
    color: black;
    background-color: #d6e7f9;
}

body {
    display: block;
    padding: 2% 2% 2% 2%;
    width: 80%;
    margin: auto;
}

/* Header */
.header {
    text-align: center;
}

/* Insert */
.submit_package {
    font-size: xx-large;
    text-align: center;
}

#submit_package_no {
    width: 30%;
    font-size: large;
}

#submit_package_no:read-only {
    background-color: rgb(144, 169, 195);
}

#submit_user_code {
    width: 7%;
    font-size: large;
}

#insert_package_submit {
    outline: 0;
    grid-gap: 2px;
    align-items: center;
    background-color: #90ff99;
    color: #000;
    border: 1px solid #000;
    border-radius: 1px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: medium;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 0px 4px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .1s ease-out;
    white-space: nowrap;
}
#insert_package_submit:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
    background-color: #00ff15
}
#insert_package_submit:focus-visible{
    outline-offset: 1px;
}

.work_state {
    display: flex;
    justify-content: center;
    padding: 1% 1% 1% 1%;
}

.work_state_button {
    outline: 0;
    grid-gap: 2px;
    align-items: center;
    background-color: #ffee90;
    color: #000;
    border: 1px solid #000;
    border-radius: 1px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: medium;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 0px 4px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .1s ease-out;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
.work_state_button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
    background-color: #ffd900
}
.work_state_button:focus-visible{
    outline-offset: 1px;
}

/* Main table */
.package_table, .package_table_td, .package_table_th {
    border: 1px solid #aaa;
}

.package_table {
    border-collapse: collapse;
    width: 100%;
}

.package_table_th {
    height: 30px;
    background-color: black;
    color: #d6e7f9;
    font-size: large;
}

.package_table_td {
    text-align: left;
    padding: 5px;
    font-size: large;
}

#package_table_th_id {
    width: 5%;
}

#package_table_td_id {
    text-align: center;
}

#package_table_th_crus {
    width: 15%;
}

#package_table_th_crdti {
    width: 20%;
}

#package_table_th_status {
    width: 15%;
}

#package_table_td_status {
    text-align: center;
}

#package_table_th_options {
    width: 15%;
}

#package_table_td_options {
    text-align: center;
}

#edit_button {
    outline: 0;
    grid-gap: 2px;
    align-items: center;
    background-color: #90c7ff;
    color: #000;
    border: 1px solid #000;
    border-radius: 1px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: medium;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 0px 4px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .1s ease-out;
    white-space: nowrap;
}
#edit_button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
    background-color: #0080ff
}
#edit_button:focus-visible{
    outline-offset: 1px;
}

#delete_button {
    outline: 0;
    grid-gap: 2px;
    align-items: center;
    background-color: #fa7e7e;
    color: #000;
    border: 1px solid #000;
    border-radius: 1px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: medium;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 0px 4px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .1s ease-out;
    white-space: nowrap;
}
#delete_button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
    background-color: #ff0000
}
#delete_button:focus-visible{
    outline-offset: 1px;
}

#table_footer {
    margin-top: 20px;
    text-align: center;
}

/* Edit table */

#edit_form {
    align-self: center;
}

#edit_table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

#edit_table_name {
    font-size: xx-large;
    text-align: justify;
}

#edit_table_data {
    text-align: center;
}

.edit_package_info {
    font-size: xx-large;
    text-align: justify;
}

.edit_buttons {
    text-align: center;
}

#edit_edit_button {
    outline: 0;
    grid-gap: 2px;
    align-items: center;
    background-color: #aff79f;
    color: #000;
    border: 1px solid #000;
    border-radius: 1px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: xx-large;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 0px 4px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .1s ease-out;
    white-space: nowrap;
}

#edit_edit_button:hover {
box-shadow: 4px 4px 0 #000;
transform: translate(-4px,-4px);
}
#edit_edit_button:focus-visible{
outline-offset: 1px;
}

#edit_del_button {
    outline: 0;
    grid-gap: 2px;
    align-items: center;
    background-color: #ff9090;
    color: #000;
    border: 1px solid #000;
    border-radius: 1px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: xx-large;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 0px 4px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .1s ease-out;
    white-space: nowrap;
}

#edit_del_button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
#edit_del_button:focus-visible{
    outline-offset: 1px;
}

/* Footer */
footer {
    display: table;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 0;
    letter-spacing: 1px;
    background-color: rgb(0, 0, 0, 0.3);
}

.footer_button {
    outline: 0;
    grid-gap: 2px;
    align-items: center;
    background-color: #d6e7f9;
    color: #000;
    border: 1px solid #000;
    border-radius: 1px;
    cursor: pointer;
    display: inline-flex;
    font-size: medium;
    flex-shrink: 0;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 0px 4px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .1s ease-out;
    white-space: nowrap;
}
.footer_button:hover {
    box-shadow: 2px 2px 0 #000;
    transform: translate(-2px,-2px);
}
.footer_button:focus-visible{
    outline-offset: 1px;
}