<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <a href="/">
            <img src="{{url_for('static', filename='orinklogo.png')}}" class="logo"/>
        </a>
        <br>
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% block footer %}{% endblock %}
        <p>
            <img alt="Static Badge" src="https://img.shields.io/badge/Villers_Kriszti%C3%A1n-Orink_Hungary_Kft.-blue?style=for-the-badge&logo=flask&logoColor=black&labelColor=90c7ff&color=black">
        </p>
    </footer>
</html>