{% extends 'base.html' %}

{% block head %}
<title>Felhasználó</title>
{% endblock %}

{% block body %}
<div class="users_search">
    <form action="/change_user", method="post">
        <input type="text", class="user_search", id="user_search_field", name="user_to_search", placeholder="Név", autocomplete="off", autofocus>
        <input type="submit", class="user_search", id="user_search_button", value="Keresés">
    </form>
    <br>
</div>
{% if users %}
    <div class="users_div">
            <table class="table", id="users_table">
                <tr class="table_tr">
                    <th class="table_th", id="users_th_usercode">Kód</th>
                    <th class="table_th", id="users_th_username">Név</th>
                    <th class="table_th", id="users_th_options">Opció</th>
                </tr>
                    {% for user in users %}
                        {% if user[0] == current_usercode %}
                            <tr class="table_tr" style="background-color: rgb(144, 199, 255);">
                                <td class="table_td", id="usercode_td_username">{{ user[0] }}</td>
                                <td class="table_td", id="usercode_td_usercode">{{ user[1] }}</td>
                                <td class="table_td", id="usercode_td_options">
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for user in users %}
                        {% if user[0] != current_usercode %}
                            <tr class="table_tr">
                                <td class="table_td", id="usercode_td_username">{{ user[0] }}</td>
                                <td class="table_td", id="usercode_td_usercode">{{ user[1] }}</td>
                                <td class="table_td", id="usercode_td_options">
                                    <button class="button" id="index_edit_button" onclick="changeUser({{ user[0] }})">Kiválasztás</button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
            </table>
        {% endif %}
        {% if not users %}
            <p style="text-align: center; font-size: x-large;"><strong>Nem találhatóak felhasználók</strong></p>
    </div>
{% endif %}
{% endblock %}
{% block footer %}
<p>
    <button class="footer_button" id="upload_data_button" onclick="uploadDataRedirect()">Adatok feltöltése</button>
</p>
{% endblock %}
